httpie==0.8.0
Pygments==2.0.1  # required by httpie
requests==2.5.1  # required by httpie

ipython==2.3.1
gnureadline==6.3.3  # required by ipython

pipdeptree==0.4.2

sniffer==0.3.3
colorama==0.3.3  # required by sniffer
nose==1.3.4  # required by sniffer
python-termstyle==0.1.10  # required by sniffer

-r requirements.txt
